.text {
  position: fixed;
  right: 160px;
  color: #000000;
  top: 17px;
  z-index: 300;
  font-size: 16px;
  cursor: pointer;
}

.avatar {
  width: 30px;
  height: 30px;
  position: fixed;
  right: 230px;
  top: 17px;
  z-index: 300;
}

.text {
  color: var(--ifm-text-color);
}

.text:hover {
  color: var(--ifm-color-primary-light);
}

@media screen and (max-width: 996px) {
  .text {
    right: 20px;
  }
  
  .avatar {
    right: 80px;
  }
}